{% extends "appone/base.html" %}
{% load staticfiles %}
  {% block title %}Uslugi{% endblock title %}

  {% block css %}<link rel="stylesheet" href="{% static "appone/css/gotowerozwiazania.css" %}">{% endblock %}

  {% block body_block %}
    <div class="topbackground">
      <img id="imagebackground" class="imagebackground" src="{%static "appone/images/Uslugi/probowki.jpg" %}" alt="Usługi">
      <div id="center" class="center">Gotowe rozwiązania !</div>
    </div>

    <!-- description  -->
    <div class="middlebackground">
      <h4 class="middletext">Poniżej znajdziecie Państwo część z naszych autorsko opracowanych, gotowych rozwiązań do wdrożenia pod własną marką</h4>
    </div>

      <div class="productsnavbar" width="auto">
        <ul>
          <li class="li1"><button id="btn1" type="button" name="btn1">Syropy</button></li>
          <li class="li2"><button type="button" name="btn2">Toniki</button></li>
          <li class="li3"><button type="button" name="btn3">Trany</button></li>
          <li class="li4"><button type="button" name="btn4">Shoty</button></li>
          <li class="li5"><button type="button" name="btn5">Napoje funkcjonalne</button></li>
        </ul>
      </div>

      <div class="container">

    <div class="productsdisplay">
      <!-- for value in key - from views  -->
    {% for funcdrinksprod in funcdrinksprod %}
      <div>
      <br>
      {{ funcdrinksprod.product_name }}<br>
      <img src="{{ funcdrinksprod.product_image.url }}" alt="product_image" height="200px"><br>
      {{ funcdrinksprod.product_ingredients }}<br>
      {{ funcdrinksprod.product_description }}<br>
    </div>
    {% endfor %}
    <!-- for making longer page  -->
    <div class="syrups">
      {% for syrupprod in syrupprod %}
        <div>
        {{ syrupprod.product_name }}<br>
        <img src="{{ syrupprod.product_image.url }}" alt="product_image" height="200px"><br>
        {{ syrupprod.product_ingredients }}<br>
        {{ syrupprod.product_description }}<br>
      </div>
      {% endfor %}
    </div>
    </div>
    </div>

  {% endblock %}

  {% block script %}<script src="{%static "appone/js/gotowerozwiazania.js" %}"></script>{% endblock %}
